{% extends 'base.html' %} 
{% block content %}

<h1>Cohort Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ cohort.subject_name }}</span>
        <p>Notes: {{ cohort.note }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'cohorts_update' cohort.id %}">Edit</a>
        <a href="{% url 'cohorts_delete' cohort.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col s6">
<h3>{{ cohort.subject_name }}'s Students</h3>
{% if cohort.students.count %}
  {% for student in cohort.students.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ student.name }}
        </span>
        {% for student_grade in student.student_grades.all %}
          {% if student_grade.cohorts_id == cohort.id %}
            <p>Grade: {{ student_grade.grade }}</p>
            <form action="{% url 'delete_grade' cohort.id student_grade.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Delete Grade</button>
            </form>
          {% endif %}
        {% empty %}
          <form action="{% url 'add_grade' cohort.id student.id %}" method="POST">
            {% csrf_token %}
            <label for="grade_input">Enter Grade:</label>
            <input type="number" name="grade" id="grade_input">
            <button type="submit" class="btn">Add Grade</button>
          </form>
        {% endfor %}
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_student' cohort.id student.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h5>No Students 👨🏼‍🏫</h5>
{% endif %}
  </div>

  <div class="col s6">
    <h3>Available Students</h3>
    {% if students.count %}
      {% for student in students.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ student.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_student' cohort.id student.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ cohort.name }} Already Has All Available Students</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_assignment');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}