{% extends 'base.html' %}

{% block content %}
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75vh;
    }
  </style>

  <div class="center-container">
    <div>
      <h1 class="center-align">GradeBook</h1>

      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Welcome to GradeBook!</span>
              <p>
                GradeBook is a platform for managing grades and student information.
                Use the navigation menu above to get started.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}